# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs and outputs
*.log
*.h5
*.csv
output/
wandb/
.comet/
mlruns/

# Environment variables
.env

# Data
*.tfrecords
*.parquet
*.csv
!requirements.txt
datammount/